body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Lato', sans-serif;
    transform-style: preserve-3d;
    image-rendering: smooth;
}

main {
    margin-top: 73px;
}


@import "header/header.scss";

@import "accueil/accueil.scss";

@import "cloud/cloud.scss";


@import "slider.scss";
@import "card.scss";
@import "footer.scss";

@import "./gestion/gestion.scss";
@import "./gestion/nav.scss";
@import "./gestion/sliderPartenaire.scss";
@import "./gestion/timeline.scss";
@import "./gestion/gestion-card.scss";
@import "./gestion/box.scss";
@import "./gestion/mediaqueries.scss";
@import "./gestion/tulipe.scss";
@import "./gestion/partenaire.scss";
@import "./gestion/PaieRH.scss";
@import "./gestion/comptafinances.scss";
@import "./gestion/BiDematerialisation.scss";
@import "./gestion/ApplicatifsMetiers.scss";


.caplaser-main-titre {
    margin-top: 70px !important;    
    font-weight: 400;
    margin-bottom: 15px;
    font-size: 35px;
    letter-spacing: 0;
    margin: 2rem 0 1rem;
    color: #2672d5;
    text-align: justify;
    width: 1300px;
    margin-right: auto;
    margin-left: auto;
}

.caplaser-main-subtitre {
    margin-right: auto;
    margin-left: auto;

    color: #8bc540;
    width: 1300px;
    font-size: 35px;
    letter-spacing: 0;
    font-weight: 500;
}

.title-bold {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: 0;
    line-height: 35px;
    color: #fff;
    position: relative;
    z-index: 1;
    width: fit-content;
    
    font-size: 34px;
    font-weight: 900;
    letter-spacing: -1.41313px;
    color: white;
}

.title-bold:before {
    content: "";    
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-sizing: content-box;
}


















