.BiDematerialisation {
    .caplaser-container-left {
        h5 {
            color: #2672d5;
        line-height: 1.476;
        font-size: 45px;
        border-bottom: 2px solid #4ac263;
        width: fit-content;
        }
    
        .grid_tulipe {
            width: 100% !important;
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }
    }
    .dematerialisation {
        color: #2672d5;
        line-height: 1.476;
        font-size: 18px;
        text-align: justify;

        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;

    .caplaser-container {
        margin-top: 0 !important;
        -webkit-align-items: flex-start;
        -ms-flex-align: flex-start;
        align-items: flex-start;

        h5 {
            color: #2672d5;
            line-height: 1.476;
            font-size: 45px;
            border-bottom: 2px solid #4ac263;
            width: fit-content;
        }
    }
    }
}