.comptafinances {
    .caplaser-container-card {
        height: 500px !important;
        .caplaser-container-card-h3 {
            height: 80px !important;
        }
    }

    .grid_tulipe_large {
        width: 270px;
        height: 270px;
    }
}