.CloudPage {
    .caplaser-main-titre{
        margin-bottom: 70px;
        padding-left: 15px;
        border-left: 10px solid #4ec3e0;
    }
    .caplaser-main-container-box-left-first.background-unset {
        background-image: none !important;
        background-color: white !important;
    }
    .caplaser-main-container-box-right-third.background-unset {
        background-image: none !important;
        background-color: white !important;
    }



    .caplaser-main-container-box-left-first {
        border: 1px solid #4ec3e0 !important;
    }

    .caplaser-main-container-box-left-second {
        border: 1px solid #4ec3e0 !important;
        h2 {
            font-size: 100px !important;
            color: #4ec3e0 !important;
        }
    }

    .caplaser-main-container-box-right-third {
        border: 1px solid #4ec3e0 !important;
        height: 682px !important;
        border-bottom-right-radius: 50px;
        h4 {
            color: #4ec3e0;
            font-size: 30px;
            width: 100%;
        }
    }



    .caplaser-main-container-cloud:nth-child(odd) {
        background-color: #64cae4;
    }

    .caplaser-main-container-cloud {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;

        width: 325px !important;
        height: 260px !important;
        background-color: #4ec3e0;
        overflow: hidden !important;
        transform: translateY(0px);
        

        &:hover{
            h2 {
                transform: translateY(-260px);
            }
            ul {
                transform: translateY(-260px);
            }
        }

        h2 {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: stretch;
            align-items: center;

            width: 325px !important;
            height: 260px !important;

            margin: 0 0 2rem;
            font-weight: 700;
            font-size: 20px;
            margin-bottom: 0;
            color: #fff !important;
            text-align: center;
            transition: transform .5s ease;
        }

        ul {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            align-content: stretch;
            align-items: flex-start;
            margin: 0 !important;
            width: 325px;
            height: 260px;
            transition: transform .5s ease;
        }

        li {
            color: white;
            margin-bottom: 15px;
        }
    }

    .svg-first {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        .st56 {
            font-family: "Lato",sans-serif !important;
            font-weight: 300;
        }
        .st53 {
            font-family: "Lato",sans-serif !important;
            font-weight: 900;
        }
        .st5 {
            opacity: 1 !important;
        }
        .st17 {
            fill: none;
            stroke: #2672D5;
            stroke-miterlimit: 10;
            stroke-dasharray: 3.8061, 2.8546;
        }
    }

    .svg-second {
        width: 80%;
        margin-left: auto;
        margin-right: auto;

        .st22,.st20,.st8,.st19,.st21,.st16 {
            stroke-miterlimit: 0 !important;
            stroke-dasharray:none !important;
            stroke: none !important;
            font-family: "Lato",sans-serif !important;
        }
        .st23 {
            opacity: 1;
        }
        .st28 {
            font-size: 18px;
        }
        .st11 {
            opacity: 1;
        }
    }

    .title-bold:before {
        transform: rotate(
    -1.5deg
    );
        background-color: #4ec3e0;
    }
}